@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
body 
{
	margin: 0;
    padding: 0;

    font-family: 'poppins',sans-serif;
}
header{
  margin: 0;
  background-color: aliceblue;
}
#header_logo{
padding: 5% 0%;
margin: auto;
  width: 80%;
  display: block;
  

}

/* NAVIGATION STYLE */
.navbar{
  
    width: 100%;

    overflow: auto;

    background-color: #005bff;

    
}

.navbar a{
    font-weight: bold;
    float: left;
  padding: 12px 10px;
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
  width: 25%; 
  text-align:center ;
 border-left: 1px solid white;
  margin: 0;
  
}

.more_content {
  display: none;

}

.more_content a{
    width: 100%;
    border: 1px solid white;
    font-weight: lighter;
  
}
 a:hover{
    background-color: crimson;
}

.mymore:hover .more_content{
    display: block;
}

/* THIS IS FOR STYLE OF SLIDER */

.slider_box{
    height: 40vh;
    width: 90%;
    margin:6% auto;
    border-radius: 5px;
    
}

#no1{
    background-color: dodgerblue;
}
/* THIS IS FOR MEMBERS ADDITON */

.members_container{
  display: flex;
  margin: 5%;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  justify-content:center;
  
  
}

.member_box{
     height: auto;
     width: 200px;
     background-color: dodgerblue;
     margin: 10px;
     color: white;
     text-align: center;
     border-radius: 5px;
     z-index:9;
     border:1px solid black;
     overflow: hidden;
   
     
}
.member_box img{
  height: 250px;
  width: 200px;
}

.member_box p{
  padding: 5px;
}

#title_for_members{
  text-align: center;
  font-family: 'Playfair Display', serif;
}


/* HERES STYLE OF ACCORDIANS */
.accordion {
  width: 85%;
  display: block;
  margin: 5px auto;
   font-family: 'Playfair Display', serif;
   padding: 15px;
   font-size: 1.5rem;
   font-weight: bold;
   transition: 0.5s;
   border-radius: 5px;
   border: 1px solid black;
  
}


.accordion:after {
content: '\002B';
color: black;
font-weight: bold;
float: right;
margin-left: 5px;
}

.panel{
  width: 85%;
  margin: 5px auto;
    max-height: 0;
     overflow: hidden;
     background-color: #eee;
}

.panel p{

 
}

.newclass, button:hover {
  background-color: dodgerblue;
  color: white;
}


.newclass:after {
content: "\2212";
}

/* END OF STYLE OF ACCORDIANS */
