@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
.loader {
height: 100vh;

width: 100vw;
background-color: #192f59;
color: yellow;

  z-index: 9999;
  /* background: url('https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif') 50% 50% no-repeat rgb(249,249,249); */
}
.loader p{
  position: absolute;
  top:50%;
  left: 50%;
transform: translate(-50%,-50%);
}
  *{
    box-sizing: border-box;
}
body 
{
	margin: 0;
    padding: 0;

    font-family: 'poppins',sans-serif;
}

#language_button{
  font-family: 'poppins',sans-serif;
  padding: 1px 6px;
  border-radius: 90px;
  background-color: #192f59;
  color: #ffc107;
  outline: 0;
  border: 1px solid #192f59;
}
header{
  height: 100px;
  background-color: aliceblue;
  position: fixed;
  margin-top: 0;
  z-index: 1;
 }


#header_logo{
  
  background-color: aliceblue;
  width: 100%;
padding: 0px 0%;
margin: auto;
  width: 80%;
  display: block;
  float: left;
  

}

.section_main{
  /* background-color: yellow; */
  padding-top: 100px;
}

/* NAVIGATION STYLE */

/* THIS IS FOR NAVIGATION  */
.nav_symbol{
  position: absolute;
  color: blue;
  font-size: 2rem;
  right: 20px;
  top: 30px;
  cursor: pointer;
  z-index: 100;
}
.nav_panel{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  background-color:#192f59;
  overflow: hidden;
  transition: 0.3s ease-out;
  border-radius: ;
  z-index: 200;
}

.close_nav_icon{
  position: absolute;
   color:#ffc107 ;
  font-size: 2rem;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: ;
}
.content a{
  padding: 10px;
  text-decoration: none;
  color: #ffc107;
  font-family: 'poppins','sans-serif';
  display: block;
  font-size: 2rem;
  font-weight: 800;
 

}
#navline{
  margin-top: -10px;
  height: 2px;
  border:0px;
  outline: 0px;
  background-color:#ffc107;
}

/* THIS IS FOR STYLE OF SLIDER */

.slider_box{
    height: auto;
    width: 90%;
    margin:6% auto;
    border-radius: 5px;
    
}

#no1{
    border: 1px solid #005bff;
    background-color: whitesmoke;
}

.slider_box h1{
  text-align: center;
  font-weight:900;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(right,#1488CC, #2B32B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#slider_box_img{
  
  width: 100%;
  height: auto;
}

.slider_box_button {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #005bff;
  color: white;
  border: 1px solid #005bff;
  border-radius: 90px;
  text-align: center;
  padding: 12px;
  margin-bottom: 50px;
 
}
.slider_box_button:hover{
  border: 1px solid #005bff;
  background-color: white;
  color: #005bff;
}
/* THIS IF FOR LOTTIE FEATURES SECTION */
.featuresoftrust {
 
}
.featuresoftrust .f1{
  font-family: 'Playfair Display', serif;
  text-decoration: underline;

}

/* THIS IS FOR CHAIRMAN SECTION */
.chairman_section{
  background: #36D1DC;  /* fallback for old browsers */

background: linear-gradient(180deg, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 600px;
  width: 100%;
  margin: 100px auto;
  overflow: hidden;

}

.chairman_section h2{
  text-align: center;
  
  margin: 5px auto;
  padding-top: 30px;
  color: white;
}

.chairman_section p{
  margin-top: 0px;
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: 600;
}

#chairmanimg{
 display: block;
  margin-left: auto;
  margin-right: auto;
   height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #ffc107;
  z-index: 1;
  
}
.chairman_section span{
  display: block;
  background-color: #ffc107;
  width: 100%;
  height: 100px;
  z-index: 1;
}
#nameofchairman{
  padding: 10px;
  text-align: center;
  font-family: 'poppins',sans-serif;
  font-weight: bolder;
}

/* THIS IS FOR MEMBERS ADDITON */

.members_container{
  display: flex;
  margin: 5%;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  justify-content:center;
  
  
}

.member_box{
     height: auto;
     width: 200px;
     background-color: #192f59;
     margin: 10px;
     color: #ffc107;
     text-align: center;
     border-radius: 5px;
     z-index:;
     border:1px solid black;
     overflow: hidden;
   
     
}
.member_box img{
  height: 250px;
  width: 200px;
}

.member_box p{
  padding: 5px;
}

#title_for_members{
  text-align: center;
  font-family: 'Playfair Display', serif;
  display: block;
}


/* HERES STYLE OF ACCORDIANS */
.accordion {
  width: 85%;
  display: block;
  margin: 5px auto;
   font-family: 'Playfair Display', serif;
   padding: 15px;
   font-size: 1.5rem;
   font-weight: bold;
   transition: 0.5s;
   border-radius: 5px;
   border: 1px solid black;
  
}


.accordion:after {
content: '\002B';
color: black;
font-weight: bold;
float: right;
margin-left: 5px;
}

.panel{
  width: 85%;
  margin: 5px auto;
    max-height: 0;
     overflow: hidden;
     background-color: #eee;
}

.panel p{

 
}

.newclass, button:hover {
  background-color: dodgerblue;
  color: white;
}


.newclass:after {
content: "\2212";
}

/* END OF STYLE OF ACCORDIANS */


/* STATING OF WHAT WE SO SSECTION */

.whatwedo{
  margin: 50px auto;
}
.whatwedo #heading {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.whatwedo_container{
  display: flex;
  margin: 5%;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  justify-content:center;
}
.whatwedo_box{
  height: 100px;
  width: 100px;
  /* background-color: #005bff; */
  margin: 5px;
  border-radius: 5px;
  box-shadow: 3px 6px 24px 0px rgba(0,0,0,0.1);
   text-align: center;
}

.whatwedo_box p{
  position:relative;
  margin-top: 0px;
  line-height: 20px;

  color: black;
  font-weight: 600;
}

.whatwedo_box span{
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
}

#solarbox{
  border: 2px solid#FFC800;
  background-color: #ffc8001e;
}

#windbox{
  border: 2px solid crimson;
  background-color:  rgba(220, 20, 60, 0.185);
}
#hydrobox{
  border: 2px solid#1e90ff;
  background-color: #1e8fff36;
}
#biobox{
  border: 2px solid#27AE60;
  background-color: #27ae5f2f;
}
#talentbox{
  border: 2px solid #fd71af;
  background-color: #fd71b02f;
}
#manpowerbox{
  border: 2px solid#7B68EE;
  background-color: #7c68ee36;
}
#helpingbox{
  border: 2px solid green;
  background-color: rgba(0, 128, 0, 0.158);
}
#socialbox{
  border: 2px solid gold;
  background-color: rgba(255, 217, 0, 0.281);
}

/* THIS STYEL IS FOR FAQS SECTION */
.faqs{
  margin: 100px 10px;
  text-align: center;
}


/* CONTACT US PAGE CSS */
.container_contact {
  
  background-color: #1e90ff;
  width: 90%;
  padding: 20px;
  margin: 50px auto;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
}

/* ABOVE FOOTER SECTION */
.abovefooter h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 200px 0px 0px 0px;
}
#ltiabovefooter{
  overflow: hidden;
   
}


/* THIS STYLE IS FOR FOOTER section */
footer{
  padding: 50px 20px;
  
  width: 100%;
  background-color: #192f59;
  color:white;
}

footer p {
  margin-top: -17px;
  
}

footer p a{
  text-decoration: none;
  color: white;
}

footer span{
 font-size: 11px;
}



.footer_detail img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
 padding-top: 10px;
}


footer ul li{
  padding-left: 0px;
}


.container_contact p {
  margin: 0;
}



